@import 'fonts';
@import 'vars';
@import 'mixins';
@import 'global';
@import 'libs';

.header {
  position: relative;
  z-index: 50;
  &__top {
    padding: 26px 0;
    border-bottom: 1px solid #0c0d23;
    margin-bottom: 33px;
  }
  &__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__top-box {
    display: flex;
    align-items: center;
  }
  &__place {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #4c4e6a;
    margin-left: 32px;

    div {
      font-weight: 600;
      font-size: 18px;
      line-height: 21px;
      color: #ffffff;
      padding-left: 20px;
      position: relative;

      &::before {
        content: '';
        width: 10px;
        height: 10px;
        background: #1053ff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
        left: 0;
      }
    }
  }
  .g-button {
    margin-right: 24px;
  }

  &__nav {
    a {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      color: #ffffff;
    }
    a + a {
      margin-left: 28px;
    }
  }
}

.top {
  position: relative;
  padding: 210px 0;
  padding-bottom: 122px;
  &__info {
    max-width: 430px;
    z-index: 10;
    position: relative;
    .b-button {
      margin-right: 29px;
    }
  }
  &__info-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 123.9%;
    color: #ffffff;
    margin-bottom: 33px;
    span {
      background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
    strong {
      background-image: url('../images/icons/title-line.svg');
      display: block;
      width: 281px;
      height: 57px;
      line-height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  &__info-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 123.9%;
    color: #4c4e6a;
    margin-bottom: 35px;
  }
  &__arrow {
    margin-top: 150px;
  }
  &__image {
    position: absolute;
    top: -150px;
    right: 0;
    z-index: 0;
    transform: translateX(100px);
  }
}

.catalog {
  &__title {
    margin-bottom: 82px;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
    flex-wrap: wrap;
  }
  &__item {
    max-width: 540px;
    background: linear-gradient(
      0.65deg,
      rgba(12, 14, 40, 0.54) -3.61%,
      rgba(12, 14, 40, 0.86) 45.21%,
      rgba(12, 14, 40, 0) 106.83%
    );
    backdrop-filter: blur(131px);
    border-radius: 24px;
    margin: 0 15px;
    margin-bottom: 55px;
  }
  &__item-box {
    padding: 52px;
  }
  &__item-image img {
    border-radius: 25px 25px 0 0;
  }
  &__item-title {
    margin-bottom: 15px;
  }
  &__item-text {
    margin-bottom: 27px;
  }
  &__item-tags {
    margin-bottom: 40px;
  }
}

.delivery {
  position: relative;
  padding-top: 95px;
  padding-bottom: 220px;
  &__title {
    margin-bottom: 23px;
  }
  &__text {
    margin-bottom: 56px;
  }
  &__box {
    max-width: 484px;
    width: 100%;
    z-index: 10;
    position: relative;
  }
  &__item {
    margin-bottom: 30px;
    width: 100%;
    background: linear-gradient(
      89.08deg,
      rgba(74, 78, 132, 0.14) -11.82%,
      rgba(8, 7, 42, 0.24) 107.57%
    );
    backdrop-filter: blur(131px);
    border-radius: 18px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgba(#312b54, 0.2);
  }
  &__item-box {
    display: flex;
    align-items: center;
  }
  &__item-title {
    font-size: 25px;
    line-height: 123.9%;
  }
  &__item-country {
    width: 46px;
    height: 30px;
    margin-right: 34px;
  }
  &__image {
    position: absolute;
    right: -160px;
    top: -270px;
    z-index: 0;
  }
}

.calc {
  margin-bottom: 152px;
}

.footer {
  padding-bottom: 78px;
  &__box {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  &__text {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 123.9%;
    color: #4c4e6a;
  }
}

@import 'media';
