@import 'fonts';
@import 'vars';
@import 'mixins';
@import 'global';
@import 'libs';

.header {
  position: relative;
  z-index: 50;

  &__top {
    padding: 26px 0;
    border-bottom: 1px solid #0c0d23;
    margin-bottom: 33px;
  }
  &__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__top-box {
    display: flex;
    align-items: center;
  }
  &__place {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #4c4e6a;
    margin-left: 32px;

    div {
      font-weight: 600;
      font-size: 18px;
      line-height: 21px;
      color: #ffffff;
      padding-left: 20px;
      position: relative;

      &::before {
        content: '';
        width: 10px;
        height: 10px;
        background: #1053ff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
        left: 0;
      }
    }
  }
  .g-button {
    margin-right: 24px;
  }

  &__nav {
    a {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      color: #ffffff;

      &.active {
        font-weight: 700;
      }
    }
    a + a {
      margin-left: 28px;
    }
  }
}

.header-mobile {
  display: none;
}

.top {
  position: relative;
  padding: 210px 0;
  padding-bottom: 122px;
  &__info {
    max-width: 430px;
    z-index: 10;
    position: relative;
    .b-button {
      margin-right: 29px;
    }
  }
  &__info-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 123.9%;
    color: #ffffff;
    margin-bottom: 33px;
    span {
      background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
    strong {
      background-image: url('../images/icons/title-line.svg');
      display: block;
      width: 281px;
      height: 57px;
      line-height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  &__info-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 123.9%;
    color: #4c4e6a;
    margin-bottom: 35px;
  }
  &__arrow {
    margin-top: 150px;
  }
  &__image {
    position: absolute;
    top: -150px;
    right: 0;
    z-index: 0;
    transform: translateX(100px);
  }
}

.catalog {
  &__title {
    margin-bottom: 82px;
  }
  &__box {
    display: flex;
    flex-wrap: wrap;
    max-width: 1920px;
    background-color: rgba(#000104, 0.4);
  }
  &__item {
    position: relative;
    z-index: 10;
    width: 50%;
    background-size: cover;
    background-position: center;
    min-height: 635px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  &__item-box {
    max-width: 440px;
    margin-right: 110px;
    margin-bottom: 67px;
  }
  &__item.left {
    justify-content: flex-start;

    .catalog__item-box {
      margin-right: 0;
      margin-left: 110px;
    }
  }
  &__item-image img {
    object-fit: cover;
    width: 100%;
  }
  &__item-title {
    margin-bottom: 15px;
  }
  &__item-text {
    margin-bottom: 27px;
  }
  &__item-tags {
    margin-bottom: 40px;
    column-gap: 16px;
    display: flex;
  }
}

.delivery {
  position: relative;
  padding-top: 95px;
  padding-bottom: 220px;
  &__title {
    margin-bottom: 23px;
  }
  &__text {
    margin-bottom: 56px;
  }
  &__box {
    max-width: 484px;
    width: 100%;
    z-index: 10;
    position: relative;
  }
  &__item {
    margin-bottom: 30px;
    width: 100%;
    background: linear-gradient(
      89.08deg,
      rgba(74, 78, 132, 0.14) -11.82%,
      rgba(8, 7, 42, 0.24) 107.57%
    );
    backdrop-filter: blur(131px);
    border-radius: 18px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgba(#312b54, 0.2);
  }
  &__item-box {
    display: flex;
    align-items: center;
  }
  &__item-title {
    font-size: 25px;
    line-height: 123.9%;
  }
  &__item-country {
    width: 46px;
    height: 30px;
    margin-right: 34px;
  }
  &__image {
    position: absolute;
    // right: -160px;
    right: -20px;
    top: -270px;
    z-index: 0;
  }
}

.calc {
  margin-bottom: 152px;
  position: relative;

  &__image {
    position: absolute;
    height: 750px;
    left: -20px;
    top: -152px;
  }
  &__info {
    position: relative;
    z-index: 10;
  }
  &__inner {
    display: flex;
    justify-content: flex-end;
  }

  &__info-title {
    margin-bottom: 23px;
  }
  &__info-text {
    margin-bottom: 67px;
  }

  &__item-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 123.9%;
    color: #ffffff;
    margin-bottom: 27px;
  }

  &__item-select__input {
    cursor: pointer;
    width: 285px;
    height: 70px;
    background: #0c0d29;
    backdrop-filter: blur(131px);
    border-radius: 11px;
    border: none;
    padding-left: 26px;
    padding-right: 60px;

    display: flex;
    align-items: center;

    font-weight: 600;
    font-size: 20px;
    line-height: 123.9%;
    color: #ffffff;
    margin-bottom: 6px;

    &::after {
      content: '';
      border: none;
      background-image: url('../images/icons/arrow-down-select.svg');
      width: 15px;
      height: 9px;
      background-size: cover;
      background-repeat: no-repeat;
      transform: translate(0);
      right: 25px;
      position: absolute;
    }
  }
  &__item-select__item {
    display: flex;
    align-items: center;
    padding: 20px 30px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      color: #fff;
    }
    &.active {
      padding: 30px 0;
    }
    img {
      margin-right: 25px;
      width: 38px;
      height: 26px;
    }
  }
  &__item-select__item + .calc__item-select__item {
    border-top: 1px solid #312b549e;
  }
  &__item-select__list {
    background: #0a0c29;
    backdrop-filter: blur(131px);
    border-radius: 11px;
    width: 285px;
    position: absolute;
    display: none;
    z-index: 10;
  }

  &__item-box {
    margin-bottom: 30px;
  }
  &__item-input {
    input {
      border: none;
      background: transparent;
      outline: none;
      color: #fff;
      &::placeholder {
        font-weight: 400;
        font-size: 20px;
        line-height: 123.9%;
        color: #38395f;
      }
    }

    .calc__item-select__input::after {
      content: 'кг';
      background: transparent;
      font-weight: 400;
      font-size: 21px;
      line-height: 123.9%;
      color: #ffffff;
      top: 39%;
      transform: translateY(-50%);
    }
  }
  &__info-con {
    display: flex;
    margin: 0 -15px;
    position: relative;
    max-width: 587px;

    .change-calc {
      cursor: pointer;
      position: absolute;
      top: 43px;
      left: calc(54% - 3px);
      transform: translateX(-50%);
      z-index: 10;
    }
  }
  &__item {
    margin: 0 15px;
  }
}

.footer {
  padding-bottom: 78px;
  &__box {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  &__text {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 123.9%;
    display: block;
    color: #4c4e6a;
  }
}

@import 'media';
